{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <ul>
        {% for cat in listing_cats %}
            {% if cat  == '1' %}
                <li><a href="{% url 'category' cat %}">Home</a></li>
            {% elif cat == '2' %}
                <li><a href="{% url 'category' cat %}">Garden</a></li>
            {% elif cat == '3' %}
                <li><a href="{% url 'category' cat %}">Clothing</a></li>
            {% elif cat == '4' %}
                <li><a href="{% url 'category' cat %}">Books</a></li>
            {% else %}
                <li><a href="{% url 'category' cat %}">Other</a> </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}